/*下边界水平分割线，上下外边距10px*/
.divider-h {
	margin-top: 10px;
	margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

/*上边界水平分割线，上下外边距10px*/
.divider-h {
	margin-top: 10px;
	margin-bottom: 10px;
    border-top: 1px solid #ccc;
}

/*单独占一行*/
.block-oneline {
	display: block; 
	width: 100%;
}

.back-to-top {
	position:fixed;
	bottom:60px;
	right:30px;
	display:none;
}

/*评论区样式*/
.comment-area {
	width: 100%;
}

/*边框圆角*/
.rounded-border {
	width: 100%;
	border-radius: 5px;
}

/*行外边距*/
.row-margin-bottom {
    margin-top: 10px;
}

/*选中显示阴影*/
.blue-border-focus:focus {
    border: 1px solid #3c8dbc;
    box-shadow: 0 0 0 0.2rem rgba(60, 141, 188, .25);
}

