/*下边界水平分割线，上下外边距10px*/
.divider-h {
	margin-top: 10px;
	margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

/*上边界水平分割线，上下外边距10px*/
.divider-h {
	margin-top: 10px;
	margin-bottom: 10px;
    border-top: 1px solid #ccc;
}

/*单独占一行*/
.block-oneline {
	display: block; 
	width: 100%;
}

.back-to-top {
	position:fixed;
	bottom:60px;
	right:30px;
	display:none;
}

/*评论区样式*/
.comment-editor {
	width: 100%;
}

/*边框圆角*/
.rounded-border {
	width: 100%;
	border-radius: 5px;
}

/*行外边距*/
.row-margin-bottom {
    margin-top: 10px;
}

/*选中显示阴影*/
.blue-border-focus:focus {
    border: 1px solid #3c8dbc;
    box-shadow: 0 0 0 0.2rem rgba(60, 141, 188, .25);
}

/* 评论样式*/
.comment {
  padding: 5px 20px 5px 10px;
}
/*评论保持下边距*/
.comment .item {
  margin-bottom: 10px;
}
/*评论显示块级表格*/
.comment .item:before,
.comment .item:after {
  content: " ";
  display: table;
}
/*评论后清除浮动*/
.comment .item:after {
  clear: both;
}
/*评论头像*/
.comment .item > img {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 50%;
}
.comment .item > .online {
  border: 2px solid #00a65a;
}
.comment .item > .offline {
  border: 2px solid #dd4b39;
}
/*评论头部上移和图片对齐*/
.comment .item > .header {
  margin-left: 55px;
  margin-top: -40px;
}
/*评论头部姓名*/
.comment .item > .header > .name {
  display: block;
  font-weight: 600;
}
/*评论内容保持间距*/
.comment .item > .message {
  margin-left: 55px;
  margin-top: 5px;
}
/*评论尾部块级显示*/
.comment .item > .footer {
  margin-left: 55px;
  margin-top: 0px;
  display:block;
  font-weight: 600;
  font-size: 13px;
}
/*回复区样式,背景灰色区分*/
.comment .item > .review {
  border-radius: 3px;
  background: #f4f4f4;
  margin-left: 55px;
  margin-top: 5px;
  padding: 10px;
}
.comment .item > .review > h4 {
  margin: 0 0 5px 0;
  font-weight: 600;
  font-size: 14px;
}
.comment .item > .review > p {
  font-weight: 600;
  font-size: 13px;
  font-style: italic;
  margin: 0;
}
/*回复区子评论保持下间距*/
.comment .item > .review > .subitem {
  margin-bottom: 5px;
}
/*回复区子评论头部块级显示*/
.comment .item > .review > .subitem > .header {
  margin-left: 5px;
  margin-top: 5px;
}
/*回复区子评论内容块级显示*/
.comment .item > .review > .subitem > .message {
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 600;
  font-size: 13px;
  font-style: italic;
}
/*回复区子评论尾部块级显示*/
.comment .item > .review > .subitem > .footer {
  margin-left: 5px;
  margin-top: 5px;
  display:block;
  font-weight: 600;
  font-size: 13px;
}
/*回复区前后插入空格，块级表格显示*/
.comment .item > .review:before,
.comment .item > .review:after {
  content: " ";
  display: table;
}
/*回复区清除浮动*/
.comment .item > .review:after {
  clear: both;
}
/*着重显示红色*/
em {
	font-family: "Georgia";
	font-size: 24px;
	font-weight: bold;
	color: #f54343;
}
/*数字样式*/
.num {
	font-style:normal;
}

.input-logo {
	position: relative;
}
/*输入框,带图标*/
.input-logo span {
	display: block!important;
    border-right: 1px solid #ccc;
    left: 6px;
    margin-top: 6px;
    color: #000;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 50px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    pointer-events: none;
}
.input-logo span:before {
	padding-right: 5px;
}
.input-logo input {
	padding-left: 60px;
}

/*搜索区样式,背景灰色区分*/
.searchArea {
  border-radius: 3px;
  background: #C0C0C0;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}
.searchArea:before,
.searchArea:after {
  content: " ";
  display: table;
}
.searchArea:after {
  clear: both;
}