<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans default-lazy-init="false"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- AMQP线程池 -->
	<task:executor id="amqpConnectionTaskExecutor" pool-size="${mqConnRecvThreads}"/>
	<!--配置connection-factory，指定连接rabbit server参数 -->
	<rabbit:connection-factory
		id="mqConnectionFactory" channel-cache-size="${mqChannelCacheSize}" executor="amqpConnectionTaskExecutor"  
		host="${mqHost}" port="${mqPort}" username="${mqUser}" password="${mqPassword}"
		virtual-host="${mqVHost}" />
	
	<!--定义rabbit template用于数据的接收和发送 -->
	<rabbit:template id="mqTemplate" connection-factory="mqConnectionFactory" />
	
	<!--配置admin信息，管理exchange和queue -->
	<rabbit:admin connection-factory="mqConnectionFactory" />
	
	<!-- 服务提供方 -->
	<bean id="userServiceExporter"
		class="org.springframework.amqp.remoting.service.AmqpInvokerServiceExporter">
		<property name="serviceInterface" value="com.min.zblog.api.rpc.UserService" />
		<property name="service" ref="userServiceImpl" />
		<property name="amqpTemplate" ref="mqTemplate" />
	</bean>
	<bean id="categoryServiceExporter"
		class="org.springframework.amqp.remoting.service.AmqpInvokerServiceExporter">
		<property name="serviceInterface" value="com.min.zblog.api.rpc.CategoryService" />
		<property name="service" ref="categoryServiceImpl" />
		<property name="amqpTemplate" ref="mqTemplate" />
	</bean>
	
	<!-- 声明队列 -->
	<rabbit:queue name="userService.rpc.queue" />
	<rabbit:queue name="categoryService.rpc.queue" />
	
	<!-- 监听队列 -->
	<rabbit:listener-container connection-factory="mqConnectionFactory" concurrency="${mqServiceConcurrency}">
		<rabbit:listener ref="userServiceExporter" queue-names="userService.rpc.queue" />
		<rabbit:listener ref="categoryServiceExporter" queue-names="categoryService.rpc.queue" />
	</rabbit:listener-container>
	
</beans>
